Repository BayatGames/.github, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BayatGames/maintainers, @BayatGames/documentation, @BayatGames/devops, @BayatGames/support

Add discussion template
  .github/DISCUSSION_TEMPLATE/config.yml
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
Owners: @BayatGames/maintainers

Add issue templates and update existing ones
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @BayatGames/support

Update pull-request-template.md
  .github/pull-request-template.md
Owners: @BayatGames/maintainers

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @BayatGames/documentation

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @BayatGames/documentation

Update FUNDING.yml
  FUNDING.yml
Owners: @BayatGames/maintainers

Update README.md
  profile/README.md
Owners: @BayatGames/documentation

Update README.md
  README.md
Owners: @BayatGames/documentation

Update SUPPORT.md
  SUPPORT.md
Owners: @BayatGames/documentation

Update discord links
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CONTRIBUTORS.md
  SUPPORT.md
  profile/README.md
Owners: @BayatGames/support, @BayatGames/documentation

Remove mesheditor
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  profile/README.md
Owners: @BayatGames/support, @BayatGames/documentation

Updates in alignment to the conventions
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/metrics.yml
  .github/pull-request-template.md
  .github/workflows/metrics.yml
  BRANCH_PROTECTION.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  FUNDING.yml
  README.md
  SECURITY.md
  SUPPORT.md
  profile/README.md
Owners: @BayatGames/maintainers, @BayatGames/support, @BayatGames/devops, @BayatGames/documentation

Update README.md
  profile/README.md
Owners: @BayatGames/documentation

Make workflows dispatch only
  .github/workflows/docs.yml
  .github/workflows/metrics.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
Owners: @BayatGames/devops

Add games section and info
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  profile/README.md
Owners: @BayatGames/documentation

Update metrics.yml
  .github/workflows/metrics.yml
Owners: @BayatGames/devops

Delete stale.yml
  .github/stale.yml
Owners: @BayatGames/maintainers

Update unity-build.yml
  .github/workflows/unity-build.yml
Owners: @BayatGames/devops

Update unity-test.yml
  .github/workflows/unity-test.yml
Owners: @BayatGames/devops

Update workflows
  .github/workflows/docs.yml
  .github/workflows/issue-triage.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  .github/workflows/unity-build.yml
  .github/workflows/unity-test.yml
Owners: @BayatGames/devops

Update README.md
  profile/README.md
Owners: @BayatGames/documentation

.github/CODEOWNERS:

# This is a CODEOWNERS file to define individuals or teams responsible for code in the repository.
# Each line is a file pattern followed by one or more owners.
# For more information, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repository
*                 @BayatGames/maintainers

# Core health files
*.md              @BayatGames/documentation
/profile/         @BayatGames/documentation

# CI/CD configurations
/.github/workflows/  @BayatGames/devops

# Issue and PR templates
/.github/ISSUE_TEMPLATE/  @BayatGames/support
/.github/pull-request-template.md  @BayatGames/maintainers
