Repository BayatGames/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, dependencies, core, tests, security

.github/labeler.yml:

# Add 'documentation' label to any changes in docs directory or *.md files
documentation:
  - 'docs/**/*'
  - '**/*.md'

# Add 'ci' label to any changes in .github workflows directory
ci:
  - '.github/workflows/**/*'

# Add 'dependencies' label to any changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/requirements.txt'
  - '**/Pipfile'
  - '**/Pipfile.lock'

# Add 'core' label to any changes in src directory (adjust according to your project structure)
core:
  - 'src/**/*'

# Add 'tests' label to any changes in test directories
tests:
  - 'tests/**/*'
  - '**/*.test.js'
  - '**/*.spec.js'
  
# Add 'security' label to changes in security files
security:
  - 'SECURITY.md'

Create CODEOWNERS
  .github/CODEOWNERS
Labels: none

Add discussion template
  .github/DISCUSSION_TEMPLATE/config.yml
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
Labels: none

Add issue templates and update existing ones
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: documentation

Update pull-request-template.md
  .github/pull-request-template.md
Labels: documentation

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Update FUNDING.yml
  FUNDING.yml
Labels: none

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update SUPPORT.md
  SUPPORT.md
Labels: documentation

Update discord links
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CONTRIBUTORS.md
  SUPPORT.md
  profile/README.md
Labels: documentation

Remove mesheditor
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  profile/README.md
Labels: documentation

Updates in alignment to the conventions
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/metrics.yml
  .github/pull-request-template.md
  .github/workflows/metrics.yml
  BRANCH_PROTECTION.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  FUNDING.yml
  README.md
  SECURITY.md
  SUPPORT.md
  profile/README.md
Labels: documentation, ci, security

Update README.md
  profile/README.md
Labels: documentation

Make workflows dispatch only
  .github/workflows/docs.yml
  .github/workflows/metrics.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
Labels: ci

Add games section and info
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  profile/README.md
Labels: documentation

Update metrics.yml
  .github/workflows/metrics.yml
Labels: ci

Delete stale.yml
  .github/stale.yml
Labels: none

Update unity-build.yml
  .github/workflows/unity-build.yml
Labels: ci

Update unity-test.yml
  .github/workflows/unity-test.yml
Labels: ci

Update workflows
  .github/workflows/docs.yml
  .github/workflows/issue-triage.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  .github/workflows/unity-build.yml
  .github/workflows/unity-test.yml
Labels: ci

Update README.md
  profile/README.md
Labels: documentation
